
@{
    ViewBag.Title = "Contacto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container">
    <div>
        <div class="item active">

            <!-- Codigo para posesionar texto con foto -->
            <br />
            <div id="container_foto">
                <br />
                <div id="foto">
                    <br />
                    <img src="~/Content/imagenes/map.JPG" style="width:65%;height:300px; float:right">
                </div>
                <div id="datosfoto">
                    <br />
                    <br />
                    <p><h2>Contacto</h2></p>
                </div>
            </div>
            <div id="descripcion">
                <STYLE type="text/css">
                    <!--
                    .justifyText {
                        text-align: justify;
                    }
                </STYLE>

                <DIV CLASS="justifyText">

                    <p>
                        <br />
                    <p>Dirección: Av. Templeman 92, Cerro Concepcion, </p>
                    <p> Valparaiso, Chile. </p>
                    <p> Teléfono: (2) 2635 2536 </p>
                    <p> Whatsapp: +56947879130 </p>
                    <p> Email: reservas@HostalDoñaClarita.com </p>                      
                 
                </DIV>
            </div>
        </div>


    </div>

</div>
