
@{
    ViewBag.Title = "Servicios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- COCINA -->
<div class="container">
        <div>            
            <div class="item active">
               
                <!-- Codigo para posesionar texto con foto -->
                <br />
                 <div id="container_foto">
                     <br />
                    <div id="foto">
                        <br />
                        <img src="~/Content/imagenes/cocina.jpg" style="width:70%;height:300px; float:right">
                    </div>
                    <div id="datosfoto">
                        <br />
                        <br />
                        <p><h2>Cocina</h2></p>
                    </div>
                </div>
                <div id="descripcion">
                    <STYLE type="text/css">
                        <!--
                        .justifyText {
                            text-align: justify;
                        }
                    </STYLE>
                    <DIV CLASS="justifyText">
                          <p>
                            <br />
                            Contamos con una cocina y comedor completamente equipados a disposición de todos nuestros huéspedes. Tenemos los implementos necesarios para que puedas cocinar y compartir con tus amigos.

                        </p>
                    </DIV>
                </div>
                           </div>
            </div>

        </div>
<!-- SEGURIDAD -->
<div class="container">
    <div>
        <div class="item active">

            <!-- Codigo para posesionar texto con foto -->
            <br />
            <div id="container_foto">
                <br />
                <div id="foto">
                    <br />
                    <img src="~/Content/imagenes/seguridad.jpg" style="width:70%;height:300px; float:right">
                </div>
                <div id="datosfoto">
                    <br />
                    <br />
                    <p><h2>Seguridad</h2></p>
                </div>
            </div>
            <div id="descripcion">
                <STYLE type="text/css">
                    <!--
                    .justifyText {
                        text-align: justify;
                    }
                 </STYLE>
                
                <DIV CLASS="justifyText">

                    <p>
                        <br />
                        Estamos equipados con un circuito cerrado de cámaras en todas las áreas del hostel para resguardar tu seguridad.
                        </p>
                </DIV>
            </div>
        </div>


    </div>

</div>
<!-- WIFI -->
<div class="container">
        <div>
        <div class="item active">

            <!-- Codigo para posesionar texto con foto -->
            <br />
            <div id="container_foto">
                <br />
                <div id="foto">
                    <br />
                    <img src="~/Content/imagenes/wifi.jpg" style="width:70%;height:300px; float:right">
                </div>
                <div id="datosfoto">
                    <br />
                    <br />
                    <p><h2>Free Wifi</h2></p>
                </div>
            </div>
            <div id="descripcion">
                <STYLE type="text/css">
                    <!--
                    .justifyText {
                        text-align: justify;
                    }
                </STYLE>

                <DIV CLASS="justifyText">

                    <p>
                        <br />
                        Internet gratuito y de alta velocidad en todas nuestra áreas comunes para que puedas navegar tranquilamente y planificar tu viaje.
                        Imprimimos sin costo tu boarding pass o ticket hacia tu siguiente destino.
                    </p>
                </DIV>
            </div>
        </div>


    </div>

</div>

<!-- HAbitacion -->
<div class="container">

    <div>
        <div class="item active">

            <!-- Codigo para posesionar texto con foto -->
            <br />
            <div id="container_foto">
                <br />
                <div id="foto">
                    <br />
                    <img src="~/Content/imagenes/SingleSuperior2.jpg" style="width:70%;height:300px; float:right">
                </div>
                <div id="datosfoto">
                    <br />
                    <br />
                    <p><h2> Habitaciones</h2></p>
                </div>
            </div>
            <div id="descripcion">
                <STYLE type="text/css">
                    <!--
                    .justifyText {
                        text-align: justify;
                    }
                </STYLE>

                <DIV CLASS="justifyText">

                    <p>
                        <br />
                        Si estas viajando por trabajo o eres de esos aventureros solitarios,  este es el lugar ideal para ti.  Toda la privacidad que necesitas en una habitación tipo loft de dos niveles. No tendrás problemas con internet y contarás con tu propia estación de trabajo dentro del dormitorio. Emitimos factura en caso de que necesites rendir tu estadía.
                    </p>
                </DIV>
            </div>
        </div>


    </div>

</div>


































