
@{
    ViewBag.Title = "Somos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div >
        <!-- Indicators -->
      

        <!-- Wrapper for slides -->
        <div>
            <p>
            

            </p>
            <div class="item active">
                <img src="~/Content/imagenes/terraza.jpg" alt="Los Angeles" style="width:100%;height:400px;">
            </div>

          

            
        </div>

      

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2>¿Quienes Somos?</h2>
            <STYLE type="text/css">
                <!--
                .justifyText {
                    text-align: justify;
                }

                // -->
            </STYLE>

            <DIV CLASS="justifyText">
                <p>
                    Somos una empresa joven y dinámica, que valoramos la calidad de nuestros servicios.
                    Desde la inauguración de nuestro Hostal y Restaurante, en Mayo de 2018, hemos recibido la visita de nuestros clientes,
                    que valoran la calidez de nuestras instalaciones, la amabilidad de nuestro personal y la comodidad de los servicios que dispensamos en nuestro Hostal.
                    Por eso cada día nos otorgan su confianza, que es lo verdaderamente importante para nosotros.
                </p>
            </DIV>

            
        </div>
        <div class="col-md-4">
            <h2>Mision</h2>
            <STYLE type="text/css">
                <!--
                .justifyText {
                    text-align: justify;
                }

                // -->
            </STYLE>

            <DIV CLASS="justifyText">
                <p>
                    Lograr que nuestros clientes vivan experiencias únicas y diferenciadoras, entregando un servicio integral y personalizado.
                </p>
            </DIV>


        </div>
        <div class="col-md-4">
            <h2>Vision</h2>
            <STYLE type="text/css">
                <!--
                .justifyText {
                    text-align: justify;
                }

                // -->
            </STYLE>

            <DIV CLASS="justifyText">
                <p>
                    Ser un líder en el mercado, tanto a nivel nacional como internacional, reconocidos por brindar un servicio de excelencia y con los mas altos estándares de calidad en todos nuestros procesos.
                </p>
            </DIV>


        </div>





        </div>
       
    </div>

  

